<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                margin:0;
            }
            li{
                display:inline-block;
                padding:10px;
            }
        </style>
    </head>
    <body>
        <header style=" background-color: black; color:gray;">
            <div style="width: 80%;margin:auto">
                <div style="width:49%;display:inline-block">
                    LINK1 | LINK2 | LINK3 | LINK4 | LINK5
                </div>
                <div style="width: 49%;text-align:right;display:inline-block">
                    +00(123) 456 7890 | INFO@DOMAIN.COM
                </div>
            </div>
        </header>
        <nav style=" background-color: rgb(255, 255, 255);">
            <div style="width: 80%;margin:auto">
                <div style="width:48%;display:inline-block">
                    <img width="20%" src="../images/MBIM.png">
                </div>
                <div style="width: 48%;text-align:right;display:inline-block;vertical-align:top;padding-top: 20px;">
                   <ul style="list-style:none;padding:0">
                    <li>HOME</li>
                    <li>PAGES</li>
                    <li>DROPDOWN</li>
                    <li>LINK TEXT</li>
                    <li>LINK TEXT</li>
                    
                   </ul>
                </div>
            </div>
        </nav>
       

    </body>
</html>