<!DOCTYPE html>
<html>
    <head>
         <style>
            li{
                display:inline
            }
         </style>
    </head>
    <body>
        <table border="1" width="100%" bgcolor="black">
            <tr>
                <td width="50%">
                   <ul style="list-style:none;color:white">
                    <li>HOME</li>
                    <li> ABOUT</li>
                    <li> CONTACT</li>
                    <li> BLOG</li>
                   </ul>
                </td>
                <td>
                     <p style="color:white"> +00(123) 456 7890 | INFO@DOMAIN.COM</p>
                </td>
            </tr>
        </table>
    </body>
</html>