<!DOCTYPE html>
<html>
    <head>
        <style>
            p.ex1:hover,p.ex1:active{background:rgba(221, 228, 19, 0.919);padding: 30px;}
        </style>
    </head>
    <body style="background-color: rgb(116, 114, 114);padding-top:60px;">
        <table colspan="3" align="center" width="80%" style="background-color: white;">
            <tr>
                <td colspan="3">
                    <table  width="70%" style="margin:auto;color:gray;">
                        <tr>
                            <td align="center" width="20%" style="padding:20px;color:gray;background-color: rgba(221, 228, 19, 0.919);">
                                <h3><p  class="ex1">HOME</p></h3>
                            </td>
                            <td align="center" width="20%" style="padding:20px;color:gray">
                                <h3><p  class="ex1">ABOUT US</p></h3>
                            </td>
                            <td align="center" width="20%" style="padding:20px;color:gray">
                                <h3><p  class="ex1">PRODUCTS</p></h3>
                            </td>
                            <td align="center" width="20%" style="padding:20px;color:gray">
                                <h3><p  class="ex1">SERVICES</p></h3>
                            </td>
                            <td align="center" width="20%" style="padding:20px;color:gray">
                                <h3><p  class="ex1">CONTACT</p></h3>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>    
            <tr>
                <td colspan="3">
                <h1 style="font-family: sans-serif;text-align: center;font-size: 4em;color:gray"><span style="color: rgba(221, 228, 19, 0.919);">I</span>space</h1>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                    <img width="85%" src="..\images\newlay.png">
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <form>    
                        <input type="radio" name="mon2" >
                        <input type="radio" name="mon2" >
                        <input type="radio" name="mon2" >
                        <input type="radio" name="mon2" >
                    </form>
                </td>
            </tr> 
            <tr>
                <td colspan="3">
                    <table  width="88%" style="border-spacing: 30px;margin:auto;">
                        <tr>
                            <td width="33%" align="center" style="background-color:rgba(221, 228, 19, 0.919);color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: larger;">
                                <p>LOREM IPSUM IS</p>
                                <img style="width:100%;display:block" src="..\images\lorem1.jpeg">
                                <table width="100%" style="background-color: gray;padding-bottom: 20%;clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);">
                                    <tr>
                                        <td colspan="2">
                                            <p align="middle" style="font-family:'Times New Roman', Times, serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit,sed do euismod tempor incididunt labore delore magna aliqua</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="33%" align="center" style="background-color:rgba(221, 228, 19, 0.919);color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: larger;">
                                <p>LOREM IPSUM IS</p>
                                <img style="width:100%; display:block" src="..\images\lorem1.jpeg">
                                <table width="100%"  style="background-color: gray;padding-bottom: 20%;clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%)">
                                    <tr>
                                        <td colspan="2">
                                            <p align="middle" style="font-family:'Times New Roman', Times, serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit,sed do euismod tempor incididunt labore delore magna aliqua</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="33%" align="center" style="background-color:rgba(221, 228, 19, 0.919);color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: larger;">
                                <p>LOREM IPSUM IS</p>
                                <img style="width:100%;display:block" src="..\images\lorem1.jpeg">
                                <table width="100%" style="background-color: gray;padding-bottom: 20%;clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%)">
                                    <tr>
                                        <td colspan="2">
                                            <p align="middle" style="font-family:'Times New Roman', Times, serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit,sed do euismod tempor incididunt labore delore magna aliqua</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table  width="88%" style="border-spacing: 30px;margin:auto;">
                        <tr>
                            <td width="33%">
                               <h2  style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">Lorem ipsum Simply</h2>
                               <p>> The standard chunk of Lorem Ipsum used</p>
                               <p>> Duis a augue ac libero euismod viverra sitth </p>
                               <p>> The standard chunk of Lorem Ipsum used</p>
                               <p>> Duis a augue ac libero euismod viverra sitth </p>
                               <p>> The standard chunk of Lorem Ipsum used</p>
                               <p>> Duis a augue ac libero euismod viverra sitth </p>
                            </td>
                            <td width="33%">
                                <h2  style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">Lorem ipsum Simply</h2>
                                <h3 style="color: rgb(95, 151, 43);">The Standard Chunk Of Lorem <br><br>Ipsum Dolor Sit Amet,</h3><p>There are many passages of lorem ipsum <br> available,but the
                                     majarity have suffered<br>atteration in some form,by injected humor,or<br> randamised words which don't look even <br>believable.If you are going to
                                      use a passage </p>
                                      <button style="background-color:rgb(88, 87, 87);border:0;padding: 10px;color:white" >
                                        Read More
                                        </button>
                            </td>
                            <td width="33%">
                                <h2  style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">Lorem ipsum Simply</h2>
                                <h3 style="color: rgb(95, 151, 43);">The Standard Chunk Of Lorem <br><br>Ipsum Dolor Sit Amet,</h3><p>There are many passages of lorem ipsum <br> available,but the
                                     majarity have suffered<br>atteration in some form,by injected humor,or<br> randamised words which don't look even <br>believable.If you are going to
                                      use a passage </p>
                                      <button style="background-color:rgb(88, 87, 87);border:0;padding: 10px;color:white" >
                                        Read More
                                        </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td style="padding-left:39px;padding-top:40px">
                     <table  width="80%"  style="margin:auto;border-collapse: collapse;">
                        <tr>
                            <td width="20%" style="background-color:rgba(221, 228, 19, 0.919) ;">
                                <div align="center" style="color:white;font-size: 300%;" >15</div>
                            </td>
                            <td style="background-color: rgb(88, 87, 87);">
                               <h3 align="middle" style="color:rgba(221, 228, 19, 0.919);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LOREM IPSUM IS SIMPLY TEXT</h3>
                               <p  style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum delectus quis doloribus.
                                 Laborum at possimus consequuntur.
                                 </p>
                            </td>
                        </tr>
                     </table>
                </td>
                <td style="padding-right:39px;padding-top:40px">
                    <table  width="80%" style="margin:auto;border-collapse: collapse;">
                        <tr>
                            <td width="20%" style="background-color:rgba(221, 228, 19, 0.919) ;">
                                <div align="center" style="color:white;font-size: 300%;" >$</div>
                            </td>
                            <td style="background-color: rgb(88, 87, 87);">
                               <h3 align="middle" style="color:rgba(221, 228, 19, 0.919);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LOREM IPSUM IS SIMPLY TEXT</h3>
                               <p  style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum delectus quis doloribus.
                                 Laborum at possimus consequuntur.
                                 </p>
                            </td>
                        </tr>
                     </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center" style="padding:30px">
                    <h3 style="color:gray">Designed By</h3>
                </td>
            </tr>          
        </table>
    </body>
</html>