<!DOCTYPE html>
<html>
 <head>
  

  </head>
  <body>
    <header style="background-color: #ccc6c6;  height: 230px; width: 100%">  
        <table style="width:100%">
          <tr>
               <th style="width:50%" >
              
               </th> 

               <th>
                
               </th>
          </tr>
          <tr>
            <td> <img style = "position:relative; left:90px; top:4px;"src="images/fotor_2023-2-21_21_24_18.png" height="150" width="150"></td>
             <td style="text-align:right">
              <h1 style="position:relative; right:100px; top:4px;"> Jenna Jodly </h1>
              <div style="position:relative; right:100px; top:4px;">Align Employee</div><br>
              <div style="position:relative; right:100px; top:1px;">Trainee<br><button style="border:0;border-radius:5px;height:25px;background-color:rgb(85, 174, 226)">Email Me</button></div>
             </td>
          </tr>
          
       </table>
       <table style="background-color: rgba(94, 96, 95, 0.885);border-radius:4px;margin-left:auto;margin-right:auto;width:25%;height:20%">
        
          <td style="color:rgb(236, 236, 239);position:relative;left:20px; top:2px;">Projects</td>
          <td style="color:rgb(236, 236, 239);position:relative;left:20px; top:2px;">About Me</td>
          <td style="color:rgb(236, 236, 239);position:relative;left:20px; top:2px;">Contact Me</td>
       </table>
     </header>  


    

     <section style="background-color:#ffffff; width: 100%;height:400px;">  
      <table style="background-color: rgba(255, 255, 255, 0.885);border-radius:4px;margin-left:auto;margin-right:auto;width:25%;height:5%">
        
        <td style="position:relative;left:70px; top:2px;"><h2>Projects/Experience</h2></td>
        </table>
        <table  style="width:70%;margin-left:auto;margin-right:auto;">
          <tr>
               <th style="width:33%;height:200px" >
                <img style = "position:relative;left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
                <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 1<br>project explanation goes here...</div>
                     
               </th> 
                 
               <th>
                <img style = "position:relative; left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
                <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 2<br>project explanation goes here...</div>
               </th>
               <th>
                <img style = "position:relative; left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
                <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 3<br>project explanation goes here...</div>
               </th>
           </tr>
           <tr>
            <th style="width:33%;height:300px" >
              <img style = "position:relative;left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
              <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 1<br>project explanation goes here...</div>
            </th> 
              
            <th>
              <img style = "position:relative;left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
              <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 1<br>project explanation goes here...</div>
            </th>
            <th>
              <img style = "position:relative; left:5px; top:2px;width:80%;height:170px"src="https://i.cbc.ca/1.5375353.1639518087!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/holidays-2021.jpg" height="150" width="150">
              <div style="text-align:left;position:relative;left:45px; top:2px;" >Project Title 1<br>project explanation goes here...</div>
            </th>
        </tr>
        </table>
    </section>
 
    <article >
      <table style="background-color: #b9b7b7;width:100%;padding-bottom: 60px;border-spacing: 80px 40px;position:relative; left:5px; top: 180px;">
            <tr>
                <th colspan="2">
                    <h2 style="text-align: center;" >About Me</h2>
                </th>
            </tr>
            <tr >
                <td style="background-color: rgb(255, 255, 255); color: black;" >
                    <h1 style="text-align: center;">Peronal Details</h1>
                    <ul>
                        <li>Jenna</li>
                        <li>DOB</li>
                        <li>Location</li>
                        <li>Status</li>
                    </ul>

                </td>
                <td style="background-color: black; color: whitesmoke;">
                    <h1 style="text-align: center;">Education/Skills</h1>
                    <ul style="list-style-type:square">
                        <li>BE</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                    </ul>
            
                </td>
            </tr>
        </table>
        <footer style="position:relative;top:150px;background-color: #f0f8ff; width: 100%;height:50px; text-align: center;">   
          <p>© Copyright 2020. </p>  
        </footer>  

    </article>
    
  </body>
</html>
  
    
    



