<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
       
    </head>    
        <body>
            <table  width="100%" style=background-color:rgb(65,63,63)>
                <tr>
                    <td  align="center" style="color:white"><h1>DINESH</h1></td>                    
                </tr>
                
            </table>
            <table width="100%" bgcolor="white" style="padding-bottom: 60px;">
                <tr>
                    <td width="50%"  ><img width="60%" style=" display: block;margin-left: auto;margin-right: 100px; border-radius:5px;border-color:white;border-style:solid;border-width:5px;box-shadow: 0 0 15px -2px #444444;" src="../images/Screenshot_2023_0228_103127.png">
                    
                    </td>
                    <td> <h2 style="padding:30px"><b> Hi Guys!</b></h2>
                        <div> I have been working as a Web Developer since Sept, 2000 till date and as a Freelancer since<br> Jul, 2004. That's about 20 years as of now.<br>

                        I love nature. I always prefer to be aligned with the nature. Wanna be Wanderer forever! Life<br> is at peace when your next thing is somewhere, out of nowhere.<br>
                        
                        Wish to become an Archery Technician. Want to learn the in-and-outs of the art. Already <br>acquired about a bit of knowledge spanning for about 8 years now. Still on the hunt!<br> 
                       
                        
                        I'm a Freelance Technical Trainer, training students, employees, wanna be aspirant<br> developers from all sectors in technologies like HTML,CSS,Javascript,Bootstrap,PHP with<br>
                        
                        occasional mongoDB and MySQL. <br>Want and will groom the next generation a better person in terms of technical or person<br>
                        
                        aspect!</div>
                        <table  width="50%">
                            <tr>
                                <td width="50%">
                                   <p><b>Name</b></p>
                                   <p><b>Experience</b></p>
                                   <p><b>Country</b></p>
                                   <p><b>Location</b></p>
                                   <p><b>e-mail</b></p>
                                   <p><b>phone</b></p>
                                </td>
                                <td>
                                    <P>Dinesh</P>
                                    <p>20 years</p>
                                    <p>India</p>
                                    <p>Chennai</p>
                                    <p>srinanoo@gmail.com</p>
                                    <p>+1234567890</p>
                                </td>
                                
                            </tr>
                               <table>
                                   <tr>
                                      <td>
                                         <button style="background-color:rgb(83, 155, 237);border:0;padding: 10px;border-radius: 4px;">
                                           &#129527 DOWNLOAD RESUME
                                         </button>
                                     </td>
                                     <td>
                                          <button style="background-color:rgb(201, 43, 43);border:0;padding: 10px;border-radius: 4px;" >
                                          &#9993 CONTACT ME
                                          </button>
                                     </td>
                                
                                    </tr>
                                    
                                </table>
                        </table>
                    </td>
                </tr>
            </table>
    
            <table  width="100%" style="background-color:#f7f2f2" >
                <tr>
                    <th colspan="4"><h2>What I do</h2></th>
                </tr>
                <tr>
                    <td>
                       <table width="80%" style="border:none;margin:auto;text-align:center;border-spacing: 30px">
                          
                          <tr>
                            <td width="25%" valign="top"  style="background-color: rgb(255, 255, 255);border-radius:4px;box-shadow: 0 0 15px -2px #444444"><h3>WEB DEVELOPMENT</h3>Wordpress, PHP, MySQL, HTML,CSS, JS,Bootstrap, Opencart, XML, ASP, SQL Server, Design, Conventions, ClickFunnels, etc.,</td>
                            <td  width="25%" valign="top" style="background-color: rgb(255, 255, 255);border-radius:4px;box-shadow: 0 0 15px -2px #444444"><h3>TECHNICAL TRAINER</h3>HTML, CSS, Bootstrap, JavaScript, PHP, MySQL, mongoDB</td>
                            <td  width="25%" valign="top" style="background-color: rgb(255, 255, 255);border-radius:4px;box-shadow: 0 0 15px -2px #444444"><h3>ARCHERY</h3>Archor practioner,Archery level 1 State certified coach,Archery state judge</td>
                            <td  width="25%" valign="top" style="background-color: rgb(255, 255, 255);border-radius:4px;box-shadow: 0 0 15px -2px #444444"><h3>FITNESS EXPERT</h3>Researching on fitness related to Archeryfor 6 years.Will keep researching on fitness realted to Archery.</td>
                          </tr>
                          
                       </table>
                  </td>
                </tr>    
            </table>

            <table width="100%" bgcolor="white">
                <tr>
                    <td>
                        <table  width="80%" style="margin:auto;border-spacing: 30px;">
                            <tr>
                                <td><h3>EDUCATION</h3></td>
                                <td><h3>EXPERIENCE</h3></td>
                            </tr>
                            <tr>
                                <td style="background-color: #f7f2f2;padding-left: 20px;"><h3>MSC(IT)</h3>
                                    <p>YEAR<br>Description goes here...</p>
                                
                                </td>
                                <td style="background-color: #f7f2f2;padding-left: 20px"><h3>project 1</h3>
                                    <p>DATE<br>Description goes here...</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: #f7f2f2;padding-left: 20px"><h3>BCA</h3>
                                    <p>YEAR<br>Description goes here...</p></td>
                                <td style="background-color: #f7f2f2;padding-left: 20px"><h3>project 2</h3>
                                    <p>DATE<br>Description goes here...</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: #f7f2f2;padding-left: 20px"><h3>12th/10th</h3>
                                    <p>YEAR<br>Description goes here...</p></td>
                                <td style="background-color: #f7f2f2;padding-left: 20px"><h3>project 3</h3>
                                    <p>DATE<br>Description goes here...</p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            

            <table  width="100%" style="background-color: #f7f2f2" >
                <tr>
                    <td><h2 align="center">Works</h2></td>
                </tr>
                <tr>
                    <td>
                        <table  width="80%" style="margin:auto;border-spacing: 30px;">
                            <tr>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164100.png"></td>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164133.png"></td>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164203.png"></td>
                            </tr>
                            <tr>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164234.png"></td>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164252.png"></td>
                                <td><img style=width:100% src="images\Screenshot_2023_0228_164317.png"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table width="100%" style="background-color: rgb(5, 27, 28);padding:50px 0px ;">
                <tr>
                    <td style="text-align: center;">
                        <p>
                            <i style="color: aliceblue;" class="fa-brands fa-facebook fa-2x"></i>&nbsp;&nbsp;
                            <i style="color: aliceblue;" class="fa-brands fa-square-twitter fa-2x"></i>&nbsp;&nbsp;
                            <i style="color: aliceblue;" class="fa-brands fa-instagram fa-2x"></i>&nbsp;&nbsp;
                            <i style="color: aliceblue;" class="fa-brands fa-linkedin fa-2x"></i>&nbsp;&nbsp;
                            <i style="color: aliceblue;" class="fa-brands fa-google fa-2x"></i>&nbsp;&nbsp;
                        </p>
                        <p style="text-align: center; color: aliceblue;">Copyright &copy;2023.ALL Right Reserved</p>
                    </td>
                </tr>
            </table>
        </body>
</html>